---
import ContentSection from '../shared/content-section.astro';
---

<ContentSection id="about-us" class="flex flex-col items-center">
  <h2 class="font-bold tracking-wide text-4xl">Tentang Kami</h2>
  <p class="mt-4">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita sunt officiis, tempore saepe
    porro id minus alias quae praesentium assumenda consequatur exercitationem minima aut, omnis
    aspernatur facere vel blanditiis velit!
  </p>
</ContentSection>
