---
import ContentSection from '../shared/content-section.astro';
---

<ContentSection id="about-us" class="flex flex-col items-center">
  <h2 class="mb-8 font-bold tracking-wide text-secondary text-4xl">Tentang Kami</h2>
  <p>
    Point Service Center adalah destinasi utama Anda untuk perbaikan ponsel, aksesori, dan sparepart
    berkualitas tinggi dan lengkap. Sebagai service centre resmi <span
      class="font-medium text-secondary">Xiaomi & Infinix</span
    >, kami menghadirkan layanan terbaik untuk menjaga ponsel Anda dalam kondisi optimal. Kami
    bangga menjadi solusi terpercaya untuk kebutuhan perangkat Anda.
  </p>
</ContentSection>
