---
import { Image } from 'astro:assets';
import phoneImage from '~/assets/phone-vert.png';
import { type ServiceItem } from '~/types';
import ContentSection from '../shared/content-section.astro';

const services: Array<ServiceItem> = [
  {
    title: 'Lorem ipsum dolor sit',
    description:
      'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure eligendi commodi enim aperiam et rem provident id unde, fugiat odio. Modi ut eaque fugiat ducimus, distinctio nemo ipsum provident ab!',
    image: phoneImage,
  },
  {
    title: 'Lorem ipsum dolor sit',
    description:
      'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure eligendi commodi enim aperiam et rem provident id unde, fugiat odio. Modi ut eaque fugiat ducimus, distinctio nemo ipsum provident ab!',
    image: phoneImage,
  },
];
---

<ContentSection class="flex flex-col items-center">
  <h2 class="mb-8 font-bold tracking-wide text-4xl">Layanan Kami</h2>

  <div class="flex flex-col gap-8">
    {
      services.map((service, index) => {
        const isImageOnLeft = index % 2 === 0;

        return (
          <article class="grid grid-cols-1 items-center gap-8 md:grid-cols-2">
            <div class={isImageOnLeft ? 'md:-order-1' : 'md:order-1'}>
              <Image
                src={service.image}
                alt=""
                class="h-full w-full rounded-3xl bg-cover object-cover"
              />
            </div>

            <div class={isImageOnLeft ? 'md:order-1' : 'md:-order-1'}>
              <h3 class="font-semibold tracking-wide text-xl">{service.title}</h3>
              <p class="mt-2">{service.description}</p>
            </div>
          </article>
        );
      })
    }
  </div>
</ContentSection>
