---
import ContentSection from '../shared/content-section.astro';
---

<ContentSection id="splash" class="w-full">
  <div class="h-full w-full rounded-3xl bg-primary px-8 py-12 text-light">
    <div class="mb-2">Toko Terbaik Untuk</div>
    <div class="font-semibold leading-[2] text-2xl">
      Servis HP dan<br /> beli accessories &<br /> sparepart terjangkau.
    </div>
    <div class="mt-12">Kab. Sorong, Papua Barat</div>
  </div>
</ContentSection>
